@using System.Web.Security
@using Herrd.Extensions;

@if(HttpContext.Current.User.Identity.IsAuthenticated)
{
	var user = Membership.GetUser();
	if(user != null)
	{
		<div class="profile float_right">
			<a href="#" class="avatar block">
				@RazorHelpers.RenderAvatar(user.Email, user.UserName)
			</a>
			<div class="account">
				<span class="arrow">
					<!--arrow-->
				</span>
				<ul class="nav_account">
					<li>
						@Html.ActionLink("Edit profile", "EditProfile", "Account")
					</li>
					<li>
						@Html.ActionLink("Log out", "Logout", "Account")
					</li>
				</ul>
			</div>
		</div>
	}
	else
	{
		@Html.ActionLink("Log out", "Logout", "Account")
	}
}