@using Herrd.DataLayer
@using Herrd.Extensions.Models
@model List<Herrd.DataLayer.Track>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/_layout.cshtml";
}

<div id="playlist" class="site_container">

	@Html.Partial("~/Views/Partials/FormAddTrack.cshtml", new AddTrackModel())

	<div class="item_container">
		
		@if(Model.Any())
		{
			foreach (var track in Model)
			{
				@Html.Partial("~/Views/Partials/TrackItemNormal.cshtml", track)
			}
		}
		else
		{
			<p>You havent added any tracks yet. Do so.</p>
		}
	
	</div>
	
</div>