@{
	ViewBag.Title = "NormalHomepage";
	Layout = "~/Views/_layout.cshtml";
}

<div class="site_container">
	<h1>Fuck You</h1>
	<p>... you need to login or signup to see you music</p>
	@Html.ActionLink("Login / Signup", "Signup", "Account")
</div>