<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="HerrdEntities" connectionString="metadata=res://*/HerrdModel.csdl|res://*/HerrdModel.ssdl|res://*/HerrdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JACK-MAC-PC\SQLEXPRESS2008;initial catalog=devHerrd;persist security info=True;user id=localUser;password=pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Herrd.DataLayer.Properties.Settings.devHerrdConnectionString" connectionString="Data Source=JACK-MAC-PC\SQLEXPRESS2008;Initial Catalog=devHerrd;Persist Security Info=True;User ID=localUser;Password=pa55w0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
