@using Herrd.Extensions

@helper RenderAvatar (string email, string username) 
{
	const int avatarSize = 30;
	string avatarUrl = Helpers.GetAvatarUrl(email, avatarSize);
	<img src="@avatarUrl" alt="@username, @email" width="30" height="30"/>
	<span><!--cog--></span>
}